
body {
    font-family: Arial, Helvetica, sans-serif;
}
  
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #333; 
}
  
 
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    display: block;
    font-size: large;  
    border: none;
    outline: none;
    color: white;
    padding: 0.7em 1.2em 0.7em;
    background-color: inherit;
    font-family: inherit;
    text-shadow: 0.2em 0.2em 0 rgba(0, 0, 0, 0.1);
    margin-right: 0.6em;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
  
 

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 23%;
    overflow: auto;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: large; 

}

  
.dropdown:hover .dropdown-content {
    display: block;
}



.dropdown-content .blockbtn  {
  display: inline-block;
  width: 98%;
  border: 0;
  color: black;
  padding: 8px 3px;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  background-color: white;
}

.dropdown-content button {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border: 0;
  background-color: red;
}